.whychoseus {
  margin: 60px 0;
  overflow: hidden;
}

.icon-container {
  width: 60px;
  height: 60px;
}

.whychoseus .card {
  background-color: #0504a5 !important;
  border-radius: 20px;
}

.whychoseus .card .card-title {
  font-weight: 400;
  font-size: 20px;
}

.whychoseus .card .card-text {
  font-weight: 200;
  font-size: 16px;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
  overflow: hidden;
}

.whychoseus-head h3 {
  font-size: 40px;
  line-height: 1;
  font-weight: 500;
}
.whychoseus-head .head1 {
  font-size: 16px;
  font-weight: 500;
  color: #031243 !important;
}
.changewayspan {
  color: #0504a5;
}

@media (max-width: 1399px) {
  .whychoseus .card .card-text {
    font-size: 15px;
  }
  .whychoseus .card .card-title {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .whychoseus .card {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .whychoseus-head h3 {
    font-size: 29px;
  }
  .whychoseus {
    margin: 30px 0;
  }
}

@media (max-width: 430px) {
  .whychoseus-head h3 {
    font-size: 24px;
  }
}
