.HeroSection {
  background: #031243;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 500px;
}
.blog-detail-banner {
  position: relative;
}
.blog-detail-banner .innerBgLayer {
  background: #0404a580;
  width: 100%;
  position: absolute;
  height: 100%;
}
.HeroSection-content h1 {
  font-size: 70px;
  line-height: 1;
  text-transform: capitalize;
}
.blog-detail-banner h1 {
  font-size: 60px;
  background: #0404a580;
  padding: 10px 16px;
}

.HeroSection-content p {
  font-size: 18px;
}
@media (max-width: 1199px) {
  .HeroSection {
    min-height: 400px;
  }
  .blog-detail-banner h1 {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .HeroSection {
    text-align: center;
  }
  .HeroSection-img {
    max-width: 380px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .HeroSection {
    padding: 30px 0;
    min-height: unset;
  }
  .HeroSection-content h1 {
    font-size: 50px;
  }
}

@media (max-width: 430px) {
  .HeroSection-content h1 {
    font-size: 37px;
  }
}
