.Mobileworld {
  margin: 60px 0;
}
.Mobileworld .title {
  font-size: 50px;
  line-height: 1;
}

.Mobileworld .title span {
  color: #0504a5;
}

.twentypls {
  background-color: #0504a5;
  color: white;
  /* padding: 35px; */
  border-radius: 100%;
  font-size: 51px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.Mobileworld .para {
  color: #0504a5;
  font-weight: 600;
  font-size: 22px;
}

.Mobileworld .para0 {
  font-size: 17px;
  font-weight: 500;
  color: #0504a5;
}

.Mobileworld .para1 {
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: #031243;
}

.Mobileworld .para2 {
  font-size: 17px;
  max-width: 19vw;
}

.Mobileworld .satisfiedpara {
  font-size: 17px;
  border-top: 1px solid #0504a5;
  padding: 15px 3px;
}

.Mobileworld .para2 span {
  color: #0504a5;
}

.Mobileworld .facespan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #0504a5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.price-plane-head-info {
  margin-bottom: 5px;
  color: #0504a5;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #0504a5;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #a2a2b3;
}

.Mobileworld .shareidea {
  color: #031243;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0px;
}

@media (max-width: 1399px) {
  .Mobileworld .title {
    font-size: 43px;
  }
  .Mobileworld .para1 {
    font-size: 19px;
  }
}

@media (max-width: 1199px) {
  .Mobileworld .title {
    font-size: 36px;
  }
  .Mobileworld .para1 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .Mobileworld {
    margin: 30px 0;
  }
}
@media (max-width: 430px) {
  .Mobileworld .title {
    font-size: 26px;
  }
}
