.ContactForm {
  background: url("../../Assets/chatprojectbg.webp") no-repeat center center;
  background-size: cover;
}

.ContactForm .title {
  font-size: 39px;
  font-family: "Outfit";
  /* max-width: 100%; */
  margin: auto;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 2));
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /* border-radius: var(--bs-border-radius-lg); */
  border-radius: 16px !important;
}

.form-control {
  border-radius: 12px;
}

.form-control:focus {
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}

.innercontainer {
  padding: 30px 0;
}

.ContactForm .sendmessage {
  color: white;
  border-radius: 45px;
  background-color: #0504a5;
  font-size: 15px;
  font-family: "Outfit";
  transition: all 0.25s ease;
}
.ContactForm .sendmessage:hover {
  background-color: #f9c74f;
  color: #0504a5;
}

.ContactForm .lead {
  font-size: 1.25rem;
  font-weight: 300;
  max-width: 100%;
  /* width: 80%; */
  margin: auto;
}

@media (max-width: 767px) {
  .ContactForm .title {
    font-size: 34px;
    line-height: 1;
    margin-bottom: 13px;
  }
  .innercontainer {
    padding: 0px 0;
  }
}
@media (max-width: 430px) {
}
