.newstrendtitle {
  font-size: 5rem;
  font-family: "Outfit";
  font-weight: 400;
  line-height: 66px;
}
.newstrendpara {
  max-width: 72%;
  font-family: "Outfit";
}
.faqsbg {
  background: linear-gradient(180deg, #f5f5f5 0%, #d4d4ff 100%);
  border-radius: 152px 152px 0px 0px;
  opacity: 1;
}

.connectsocialmedia {
  padding: 60px 0;
}
.connectbg {
  text-align: center;
  background-color: #0504a5;
  color: #fff;
  padding: 30px 10px;
  border-radius: 16px;
}
.connectbg h4 {
  font-size: 31px;
  margin-bottom: 16px;
  line-height: 1;
}
.connectbg p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1;
}
.connect-sm-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.connect-sm-icons a {
  line-height: 1;
  background: #fff;
  width: 35px;
  height: 35px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.connect-sm-icons .facebook-icon {
  color: #3b5998; /* Facebook Blue */
  background-color: #e6eaf4;
}

.connect-sm-icons .instagram-icon {
  color: #e4405f; /* Instagram Pink */
  background-color: #fbe4ea;
}

.connect-sm-icons .linkedin-icon {
  color: #0077b5; /* LinkedIn Blue */
  background-color: #e1eff7;
}

.connect-sm-icons .youtube-icon {
  color: #ff0000; /* YouTube Red */
  background-color: #fbe7e7;
}

.connect-sm-icons .twitter-icon {
  color: #1da1f2; /* Twitter Blue */
  background-color: #e7f5fd;
}

.connect-sm-icons .pinterest-icon {
  color: #bd081c; /* Pinterest Red */
  background-color: #fce6e9;
}

 

@media (max-width: 767px) {
  .connectsocialmedia {
    padding: 30px 0;
  }
}
@media (max-width: 430px) {
  .connectbg h4 {
    font-size: 29px;
    margin-bottom: 10px;
  }

  .clutch-badge img {
    width: 32px;
    height: 32px;
}
}
