.wordpress-web-design {
  /* background: url("../../Assets/wordpressbg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  color: white;
  padding: 60px 0;
  overflow: hidden;
  position: relative;
  min-height: 490px;
  display: flex;
  align-items: center;
}
.servicesBanner-bgImage {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.inner-services-banner-content {
  position: relative;
  z-index: 2;
}

.services__banner-img img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.wordpress-web-design .container {
  position: relative;
  z-index: 2;
}
.wordpress-web-design .container {
  position: relative;
  z-index: 2;
}

.wordpress-web-design .checkicon {
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  font-size: 1.2rem;
  vertical-align: baseline;
  font-weight: 500;
}

.wordpress-web-design h1 {
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 16px;
}
.wordpress-web-design p {
  font-size: 16px;
  margin-bottom: 16px;
}

.wordpress-web-design-list {
  margin: 20px 0;
}

.wpds {
  padding: 64px 0px;
}

.callicon {
  border: none;
  background-color: #0504a5;
  color: white;
  padding: 10px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

.pixel-perfect-sec {
  margin: 60px 0;
}

.pixel-perfect-head h2 {
  font-size: 46px;
  font-weight: 600;
}
.pixel-perfect-head h2 span {
  color: #0504a5;
}
.pixel-perfect-head p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  font-family: "Outfit", sans-serif !important;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.overlayBannerContent .inner-services-banner-content {
  background-color: rgba(5, 4, 165, 0.5);
  padding: 16px;
}
.bannerOverlay:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* Inner Child Page CSS */
.cmsSolutionBanner .services__banner-img img {
  transform: scale(1.2) translate(-70px, 20px);
}
/* Inner Child Page css End */

@media (max-width: 1399px) {
  /* Inner Child Page CSS */
  .cmsSolutionBanner .services__banner-img img {
    transform: scale(1.3) translate(-80px, 32px);
  }
  /* Inner Child Page CSS End */
}
@media (max-width: 1199px) {
  /* Inner Child Page CSS */
  .cmsSolutionBanner .services__banner-img img {
    transform: scale(1.5) translate(-80px, 33px);
  }
  /* Inner Child Page CSS End */
}
@media (max-width: 991px) {
  /* Inner Child Page CSS */
  .cmsSolutionBanner .services__banner-img img {
    transform: unset;
  }
  /* Inner Child Page CSS End */
}
@media (max-width: 768px) {
  .navbar-section .nav-link {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .pixel-perfect-sec {
    margin: 30px 0;
  }
}

@media (max-width: 480px) {
  .pixel-perfect-head h2 {
    line-height: 1.2;
    font-size: 35px;
  }
  .wordpress-web-design h1 {
    font-size: 35px;
  }
  .wordpress-web-design p {
    font-size: 15px;
  }
  .inner-services-banner-content {
    /* min-height: 300px; */
  }
  
}
@media (max-width: 430px) {
  .wordpress-web-design h1 {
    font-size: 34px;
  }
}
