.faqsbg {
  background: linear-gradient(180deg, #f5f5f5 0%, #d4d4ff 100%);
  /* no-repeat padding-box; */
  border-radius: 152px 152px 0px 0px;
  opacity: 1;
}

.express-sec {
  padding: 60px 0;
  background: linear-gradient(0deg, #d4d4ff 0%, #f5f5f5 100%);
  overflow: hidden;
}
.express-and-faq-sec {
  overflow: hidden;
}
.express-and-faq-sec .express-sec {
  padding-bottom: 0;
}
.express-sec .express-cards .card p {
  -webkit-line-clamp: unset;
}

.express-content {
  background: #031243;
  color: #fff;
  padding: 30px 20px;
  border-radius: 16px;
  height: 100%;
}
.express-content-head * {
  margin: 0;
}
.express-content-head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.express-content-head h2 {
  font-size: 36px;
  max-width: 520px;
  font-weight: 400;
  line-height: 1.1;
}
.express-content-head p {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 300;
}
.progress-bar-list-item p {
  margin-bottom: 7px;
  font-size: 15px;
}

.progress-bar-list-item .progress-bar {
  background-color: #0504a5;
  text-align: right;
  padding: 0 7px;
}

.progress-bar-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.express-cards .card {
  background: #0504a5;
}

.express-cards-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.express-cards .card h4 {
  font-weight: 400;
  font-size: 20px;
}
.express-cards .card p {
  font-weight: 200;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.express-cards-items-updated {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.custom-icon-wrapper {
  border-radius: 50%; /* same as rounded-circle */
  background-color: #fff; /* same as bg-white */
  color: #0d6efd; /* Bootstrap primary text color */
  display: flex; /* same as d-flex */
  justify-content: center;
  align-items: center;
  margin-left: auto; /* same as mx-auto */
  margin-right: auto;
  margin-bottom: 1rem; /* same as mb-3 */
  width: 60px;
  height: 60px;
}

@media (max-width: 1199px) {
  .express-cards .card h4 {
    font-size: 18px;
  }
  .express-cards .card p {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .express-cards-items {
    gap: 26px;
  }
}
@media (max-width: 767px) {
  .express-sec {
    padding: 30px 0;
  }
  .express-and-faq-sec .express-sec {
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .express-cards-items-updated {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 430px) {
  .express-content-head h2 {
    font-size: 30px;
  }
}
