.PricingPlans {
  padding: 60px 0px;
  background: #00000000 linear-gradient(180deg, #ebebff 0%, #d4d4ff 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 50px 50px 0px 0px;
  opacity: 1;
  overflow: hidden;
}
.pricing-plan-head {
  text-align: center;
  margin-bottom: 30px;
}
.pricing-plan-head .head-tag {
  margin-bottom: 10px;
  color: #0504a5;
  font-weight: 500;
}
.pricing-plan-head h3 {
  margin-bottom: 8px;
  font-size: 36px;
  color: #031243;
}
.pricing-plan-head h3 span {
    color: #0504A5;
}
.pricing-plan-head p {
  color: #707070;
  margin-bottom: 0px;
  font-size: 16px;
}

.why-wordpress-img {
  padding-right: 25px;
}

.why-wordpress-content h2 {
  font-size: 50px;
  line-height: 1.2;
}

.why-wordpress-content p {
  color: #707070;
  font-size: 18px;
  margin-bottom: 20px;
}

.why-wordpress-content .morebenifit {
  color: white;
  border: none;
  background-color: #0504a5;
  padding: 10px 26px;
  border-radius: 30px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  transition: all .25s ease;
}
.why-wordpress-content .morebenifit:hover{
  background-color: #f9c74f;
  color: #0504a5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 1399px) {
  .why-wordpress-content h2 {
    line-height: 1;
    margin-bottom: 16px;
  }
  .why-wordpress-content p {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 1199px) {
  .why-wordpress-img {
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  .why-wordpress-img {
      padding-right: 0px;
      margin-bottom: 30px;
  }
  .why-wordpress-content{
    text-align: center;
  }
}
@media (max-width: 480px) {
  .why-wordpress-content h2 {
      font-size: 44px;
  }
}
