.FeatureProject {
  padding: 60px 0px;
  background: #00000000 linear-gradient(180deg, #ebebff 0%, #d4d4ff 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 152px 152px 0px 0px;
  opacity: 1;
}

.FeatureProject .title {
  font-size: 3.32rem;
  font-weight: 600;
  font-family: "Outfit", sans-serif !important;
}

.FeatureProject .title span {
  color: #0504a5;
}

.FeatureProject .para {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  font-family: "Outfit", sans-serif !important;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.projectpara {
  font-size: 16px; 
  line-height: 22px;
  color: #031243;
}
.brand-tabs {
  gap: 10px;
}
.brand-tabs .nav-link {
  color: #fff;
  background-color: #0504a5;
  padding: 10px 20px;
  border-radius: 30px !important;
  font-size: 14px;
  margin: 0px;
  border: 2px solid #0504a5 !important;
}
.brand-tabs .nav-link:hover {
  color: #0504a5;
  background-color: #fff;
}
.brand-tabs .nav-link.active {
  border-color: #0504a5 !important;
}

@media (max-width: 991px) {
  .FeatureProject {
    padding: 30px 0px;
    border-radius: 50px 50px 0px 0px !important;
  }
}

@media (max-width: 767px) {
  .FeatureProject {
    padding: 30px 0px;
  }
  .FeatureProject .para {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .featuretitle span {
    font-size: 41px !important;
  }
}
